html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Yusei Magic', sans-serif;
    background-color: rgb(247, 226, 226);
}

header {
    background-color: rgb(240, 173, 184);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding-bottom: 10px;
}

h1 { 
    position: relative;
}

h1 span{ 
    position: absolute; 
    top: -200px;
}

#spacer{
    margin-bottom: 110px;
}

.logo {
    margin: 25px;
    margin-left: 10%;
    display: flex;
}

.text-block ul{
    text-align: left;
}

#features, #future-features {
    font-style: italic;
}

#features {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}


@media (max-width: 1590px) {
    .text-block ul{
        column-count: 1;
    }

    #features {
        column-count: 1;
    }
}

header > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

@media screen and (min-width: 0px) and (max-width: 635px) {
    .dropbtn {
        position: relative;
        display: inline-block;
        visibility: visible;
    }

    header > ul {
        display: none;
        visibility: hidden;
    }

}

.dropbtn a:hover {
    background-color: rgb(231, 105, 105);
}

.dropdown a img {
    width: 100%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
}

.dropdown a:hover:not(.dropbtn) {background-color: rgb(255, 226, 226);}

.show {display: block;}

.dropbtn {
    display: inline-block;
    visibility: visible;
    background-color: rgb(231, 105, 105);
    font-family: 'Yusei Magic', sans-serif;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 70px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
    
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(230, 76, 76);
}

header ul li {
    margin: 10px;
    display: inline-block;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    background-color: rgb(231, 105, 105);
    border: 2px solid black;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
}

header ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

header ul li:hover {
    background-color: rgb(233, 122, 122);
}

@media (min-width: 636px) {
    .dropdown {
        display: none;
        visibility: hidden;
    }
    
    .dropbtn {
        display: none;
        visibility: hidden;
    }
}

main {
    margin: auto;
    width: 50%;
}

.text-block li {
    margin-bottom: 10px;
}

.content {
    background-color: white;
    border: 5px dashed black;
    padding-bottom: 20px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
}

.content-block {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1290px) {
    .content-block {
        padding: 20px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-block{
        vertical-align: center;
    }

    main{
        width: 70%;
    }
}

@media (max-width: 1700px) {
    main{
        width: 80%;
    }
}

.text-block {
    background-color: rgb(238, 199, 205);
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
    font-size: 20px;
}

.content-block > a img, .content-block > img{
    margin-bottom: 20px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
    max-width: 300px;
    height: auto;
    width: 100%;
}

.align {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

footer{
    margin: 20px;
}


.sticker-container {
	position: absolute;
	bottom: 60px;
	margin: 0px 60px;
}

.sticker-container.left {
	left: 0px;
}

.sticker-container.right {
	right: 0px;
}

.content .sticker{
    border: none; 
    box-shadow: none;
}

.sticker {
	display: inline-block;
    position: relative;
    border: none; 
    box-shadow: none;
}

.sticker img {
	position: relative;
    margin: 0px 20px;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
  }
  
  /* Hide the images by default */
  .mySlides{
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }